:root {
  
  /* Tipografia */
  font-family: "Peralta", serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;

  /* Paleta de colores */
  --azul: hsl(224, 100%, 57%);
  --rojo: hsl(0, 100%, 42%);
  --amarillo: hsl(60, 100%, 42%);
  --blanco: hsl(0, 0%, 99%);
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0%;
  margin: 0%;
  user-select: none;
}

body {
  min-height: 100vh;
  background-color: var(--amarillo);
}


.hand {
  cursor: pointer;
  width: 64px;
  height: auto;
}

.play {
  width: 128px;
  height: auto;
}
